<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.pub.mapper.ActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.shop.management.bean.Activity">
        <id column="activity_id" property="activityId" />
        <result column="starting_time" property="startingTime" />
        <result column="end_time" property="endTime" />
        <result column="type" property="type" />
        <result column="activity_area" property="activityArea" />
        <result column="active_status" property="activeStatus" />
        <result column="activities" property="activities" />
        <result column="creation_time" property="creationTime" />
        <result column="update_time" property="updateTime" />
        <result column="sts" property="sts" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        activity_id AS activityId, starting_time AS startingTime, end_time AS endTime, type, activity_area AS activityArea, active_status AS activeStatus, activities, creation_time AS creationTime, update_time AS updateTime, sts
    </sql>

</mapper>
